@mixin home(
    $tamanhoItens: 5vw,
    $corFundo:  rgba(0, 79, 59, 0.7),
    $tamanhoContato: 50%,
    $borderRadius: 50px,
    $tamanhoEscopo: 70%,
    $font-s: 0.7,
    $tamanhoConteudo: 100%
) {
    #home{
        height:100vh;
    }
    .esconderConteudo{
        z-index: -10;
        opacity: 0;
        transition-duration: 1s;
    }
    .exibirConteudo{
        opacity: 1;
        transition-duration: 1s;
        z-index: 2;
    }
    $font-size: $tamanhoItens * $font-s;
    .cores{
        background: $corFundo;
        border-radius: $borderRadius;
        border: none;
        $corFundo: rgba(0, 79, 59, 0.7);
        box-shadow: 1px 1px 5px $corFundo;
    }
    #contato{
        width: $tamanhoContato;
        margin: 0 auto;
        border-radius: 0;
        height: $tamanhoItens * 1.5 ;
    }    
    #contato span{
        font-size: $font-size * 1.5;
    }
    #itens{
        width: $tamanhoItens;
        height: $tamanhoItens;
        margin-bottom: $tamanhoItens;
    }
    #contato img{
        width: $tamanhoItens * 0.5;
    }
    #contato a{
        text-decoration: none;
    }
    .escopo{
        position:absolute;
        bottom: $tamanhoItens;
        width: $tamanhoEscopo;
        font-family: 'Carter One', cursive;
    }
    .exibirEscopo{
        opacity: 1;
        transition-duration: 1s;
        z-index: 2;
    }
    .esconderEscopo{
        opacity: 0;
        transition-duration: 1s;
        z-index: -10; 
    }
    #AWS{
        margin-bottom: $tamanhoItens * 7;
        border-radius: 0px 50px 50px 0px ;
        padding-left: 5vw;
        left: 0;
        font-size: $font-size;
    }
    #Purecode{
        margin-bottom: $tamanhoItens * 5;
        right: 0;
        left: auto;
        text-align: right;
        border-radius: 50px 0px 0px 50px ;
        padding-right: 5vw;
        font-size: $font-size;
    }
    #Wordpress{
        margin-bottom: $tamanhoItens * 3;
        border-radius: 0px 50px 50px 0px ;
        padding-left: 5vw;
        left: 0;        
        font-size: $font-size;
    }
    #titulo p{
        text-align: right;
        font-family: 'Dancing Script', cursive;
        font-size: $font-size;
    }
    #titulo h1{
        font-size: $font-size * 2;
        text-align: right;
    }
    .pgs img{
        width: 100%;
    }
    li{
        list-style-type: none;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .pgs{
        position: absolute;
        top: $tamanhoItens + 10;
        left: auto;
        width: $tamanhoConteudo;
        z-index: -1;
        background: white;
        max-height: 70vh;
        overflow-y: scroll;
    }
    .pgs p{
        font-size: $font-size * 0.8;
    }
    #pgAWS button, #pgPurecode button, #pgWordpress button{
        border: none;
        background: none;
    }
    #pgAWS button img, #pgPurecode  button img, #pgWordpress  button img{
        width: $tamanhoItens * 0.2;
    }
}