@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import 'mixin-home';
@import 'inicio-vars';



@media only screen and (min-width: 200px) {
    main{
        max-height: 70vh;
        background: white;
    }
    @include home(   
        $tamanhoItens: 10vw,
        $font-s: 0.35
        );
        $font-size: $tamanhoItens * $font-s * 1.5;
        #titulo p{
            text-align: right;
            font-family: 'Dancing Script', cursive;
            font-size: $font-size;
        }
        #titulo h1{
            font-size: $font-size * 2;
            text-align: right;
        }        
    }

@media only screen and (min-width: 541px) {
    @include home(
        $tamanhoItens: 6vw,
        $font-s: 0.8
    );
    }

@media only screen and (min-width: 768px) {
    body{
        max-width: 900px;
        margin: 0 auto;
    }
    @include home(
        $corFundo:  rgba(0, 79, 59, 0.7),
        $tamanhoContato: 70%,
        $borderRadius: 50px,
        $tamanhoEscopo: 70%,
        $tamanhoItens: 5vw,
        $font-s: 0.3
    );
    $font-size: $tamanhoItens * $font-s;
    #contato img{
        width: $tamanhoItens * 0.3;
    }
    #contato{
        width: $tamanhoContato;
        margin: 0 auto;
        border-radius: 0;
        height: $tamanhoItens * 0.6;
    }    
    .pgs{
        position: absolute;
        top: $tamanhoItens;
        left: auto;
        width: $tamanhoConteudo;
        z-index: -1;
        background: white;
        height: 80%;
        overflow-y: scroll;
    }    
    #itens{
        $tamanhos: $tamanhoItens * 0.5;
        width: $tamanhos;
        height: $tamanhos;
        margin-bottom: $tamanhoItens * 0.1;
    }
    #contato span{
        font-size: $font-size * 0.5;
    }
}
